<p>Eventos</p>
<hr />

<form action="" class="form-inline">
  <div class="form-grop mb-2">
    <div class="form-group mb-2">
      <input
        class="form-control mr-2"
        type="search"
        name=""
        id=""
        placeholder="buscar"
      />
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <div *ngFor="let evento of eventos">
    <tbody>
      <tr>
        <td>{{ evento.imagemUrl }}</td>
        <td>{{ evento.tema }}</td>
        <td>{{ evento.tema }}</td>
        <td>{{ evento.local }}</td>
        <td>{{ evento.dataEvento }}</td>
        <td>{{ evento.qtdPessoas }}</td>
        <td>{{ evento.lote }}</td>
        <td></td>
      </tr>
    </tbody>
  </div>
</table>
