<h1>Eventos</h1>
<hr />

<form action="" class="form-inline">
  <div class="form-grop mb-2">
    <div class="form-group mb-2">
      <input
        class="form-control mr-2"
        type="search"
        name=""
        id=""
        placeholder="buscar"
      />
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button
          type="button"
          class="btn btn-outline-light btn-sm"
          (click)="toggleShowImg()"
        >
          {{ !showImg ? "exibir" : "ocultar" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>
        <img
          *ngIf="showImg"
          collapse="!showImg"
          isAnimated="true"
          src="/assets/{{ evento.imagemURL }}"
          [style.width.px]="widthImg"
          [style.margin]="marginImg"
        />
      </td>
      <td>{{ evento.eventoId }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspam="8" class="text-center">
        <div>
          <h4>Nenhum evento encontrado!</h4>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
